@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --layer-1: 0, 0%, 97%;
  --layer-2: 300, 0%, 100%;
  --layer-3: 300, 0%, 92%;
  --text-1: 300, 0%, 12%;
  --text-2: 330, 0%, 19%;
  --text-3: 340, 0%, 30%;
  --text-4: 300, 0%, 36%;
  --text-5: 330, 0%, 70%;
  --theme: 190.37, 74%, 56%;
  --danger: 353.9, 90%, 45%;
}

.dark {
  --layer-1: 300, 0%, 3%;
  --layer-2: 0, 0%, 13%;
  --layer-3: 330, 0%, 27%;
  --text-1: 300, 0%, 92%;
  --text-2: 340, 0%, 80%;
  --text-3: 320, 0%, 74;
  --text-4: 0, 0%, 68%;
  --text-5: 340, 0%, 42%;
  --theme: 190.09, 64%, 44%;
  --danger: 354.35, 99%, 42%;
}
